<!DOCTYPE html>
<html>
<head>
<title>
    About
</title>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/style.css"/>
<script src="/js/app.js"></script>
</head>
<body>

    <div class="main-content">
        {{>header}}
        <p>
             This Website fetches coordinates data using mapbox.com and these coordinates are then 
             used by Openweather api to fetch weather information of user provided Location.

        </p>
        <h4>Developer Info</h4>
        <p>
            Name : Pankaj Kumar<br>
            Social Profile : <a href="https://www.linkedin.com/in/pankaj1417/">Linkedin</a> , <a href="https://github.com/Pankaj1417">Github</a>.<br>
            College : <a href="https://www.ietlucknow.ac.in/">Iet Lucknow</a>
        </p>
      
            <img class ="portrait" src="/img/mine.png">
    </div>
    

        {{>footer}}
    

</body>
</html>