<!DOCTYPE html>
<html>
<head>
    <title>
        Home
    </title>
    <link rel="icon" href="/img/weather.png">
    <link rel = "stylesheet" href="/css/style.css">
    

</head>
<body>
    <div class = "main-content">
         
          {{>header}}
          <p>
              Use this website to get Weather Info
          </p>
          <form>
              <input placeholder="Location">
              <button>
                  Search
              </button>
          </form>
          <p id="msg-1"></p>
          <p id="msg-2"></p>
    </div>
     
    
       {{>footer}}
<script src="/js/app.js"></script>

</body>
</html>